@font-face {
    font-family: geosans;
    src: url(GeosansLight.ttf);
  }

* {
    box-sizing: border-box;
    font-family: geosans, var(--bs-body-font-family);
}

:root {
    --marsala: rgb(133, 9, 36);
    --rosa: rgb(218, 86, 154);
    --dourado: rgb(205, 170, 9);
}

body {
    margin: 0;
    background-color: var(--marsala) !important;
}

#content {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

#content hr {
    border-top: 3px solid white;
    border-radius: 2px;
    opacity: .66;
}

#header {
    background-color: var(--rosa);
    border-bottom: 1px solid var(--dourado);
    box-shadow: 0px 0px 4px 1px var(--dourado);
}

#btn-presentear {
    background-color: var(--rosa);
    color: white;
}

#footer {
    color: white;
    background-color: var(--rosa);
    border-top: 1px solid var(--dourado);
    box-shadow: 0px 0px 4px 1px var(--dourado);   
    text-align: center;
}

.navbar-brand {
    text-shadow: 1px 1px rgba(0,0,0,.5);
}

#presentes .btn.card-footer {
    background-color: var(--dourado);
    text-shadow: 1px 1px var(--marsala);
}

#presentes .card .card-body::before {
    content: "R$ 1200";
    display: inline-block;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    padding: 0.25em 0.5em;
    transform: translateY(-200%) translateX(100%);
    border-radius: 10px;
}